.add-user {
    height: 300px;
    padding: 10px;
    border: 1px solid orange;
    padding-left: 50px;
}

.display-user {
    height: 200px;
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid orange;
    padding-left: 50px;
}

.add-user-input {
    display: block;
    width: 250px;
    height: 35px;
}

.add-user-btn {
    display: block;
    width: 258px;
    height: 35px;
    margin-top: 20px;
}

.user-single {
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
    width: 300px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}